#navbar{
  width: 100%;
  height: 5rem;
  display: flex;
  background-color: #615D6C;
  justify-content: space-between;
  color: #7CEA9C;
  box-shadow: 0 3px 5px black;
  .title{
    font-size: 200%;
  }
  .nav-item > div {
    display: flex;
    justify-content: center;
    align-items: center;
    .greeting{
      margin-right: 3rem;
      font-size: 150%;
    }
  }
  .nav-item {
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .login, .logout{
      padding: 0.5rem;
      border-radius: 5px;
      cursor: pointer;
      font-size: 150%;
    }
    .login{
      border: 1px solid #7CEA9C;
      color: #7CEA9C

    }
    .login:hover{
        color: #615D6C;
        background-color: #7CEA9C;
      }
    .logout{
      color: #615D6C;
      background-color: #7CEA9C;
    }
    .logout:hover{
      border: 1px solid #7CEA9C;
      color: #7CEA9C;
      background-color: #615D6C;
    }
  }
}