.new-question{
  width: 100%;
  justify-content: center;
  cursor:pointer;
  div{
    box-shadow: 2px 3px 5px black;
    padding: 1rem;
    margin: 1rem 3rem;
    background-color: #615D6C;
    color: #7CEA9C;
    border-radius: 10px;
    border: 1px solid #7CEA9C;
    display: flex;
    justify-content: center;
  }
}