.queue-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  .queue-title{
    font-size: 200%;
    font-weight: 600;
    margin: 1rem 0;
  }
  .queue-headers-container{
    display: flex;
    width: 100%;

    .queue-headers{
      margin: 0rem 3rem;
      width:100%;
      padding: 1rem 0;
      display: flex;
      justify-content: space-around;
      color: #7CEA9C;
      text-shadow: #221E22 1px 1px;
      div{
        width: 100%;
        display: flex;
        justify-content: center;
      }
      div:nth-of-type(1){
        padding-left: 1.5rem;
      }
      div:last-of-type{
        padding-right: 0.5rem;
      }
      div:not(:nth-of-type(1)){
        border-left: 2px solid #7CEA9C;
      }
    }
  }
  .queue{
    display: flex;
    width: 100%;
    flex-direction: column;
  }
}
